.petunjuk {
    padding: 20px;
    padding-top: 0;
    overflow: hidden;
    border-radius: 10px;
    border: 1px solid #46B29E;
    border-style: dotted;
    background-color: #f1fad3;
    /* margin-bottom: 5px; */
}

.keteranganjawaban{
    padding: 20px;
    padding-top: 10px;
    overflow: hidden;
    border-radius: 10px;
    border: 1px solid #cfbe25;
    color:black;
    border-style: dotted;
    background-color: #f6ff7c;
    /* margin-bottom: 5px; */
}
.tujuan{
    padding: 20px;
    height: 140px;
    padding-top: 0;
    overflow: hidden;
    border-radius: 10px;
    border: 1px solid #b9aed1;
    border-style: dotted;
    background-color: #faf2ae;
    /* margin-bottom: 5px; */
}
